<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ selected.imagePath }}"
      alt="{{ selected.name }}"
      class="img-responsive mainImg"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ selected.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipie <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="">Add Ingredients</a></li>
        <li><a href="">Edit Recipie</a></li>
        <li><a href="">Delete Recipie</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ selected.description }}</div>
</div>
<div class="row"><div class="col-xs-12">Ingredients</div></div>
